<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ataulm.mijur">

  <application>
    <provider
      android:name="com.ataulm.mijur.Provider"
      android:authorities="com.ataulm.mijur.Provider"
      android:exported="false" />
  </application>
</manifest>
